body {
    background: url('https://img.freepik.com/free-photo/muscular-man-gym_144627-3355.jpg') no-repeat center center/cover;
    backdrop-filter: blur(10px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #0ff; /* Неоновый текст */
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #00f;
    margin: 0;
}

.form-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0ff, 0 0 20px #f0f;
    max-width: 350px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
}

input, select {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #222;
    color: #0ff;
    outline: none;
    box-shadow: 0 0 5px #0ff;
}

input::placeholder {
    color: rgba(0, 255, 255, 0.5);
}

input:focus, select:focus {
    box-shadow: 0 0 10px #0ff;
}

input[type="submit"] {
    margin-top: 15px;
    background: #0ff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #f0f;
    box-shadow: 0 0 15px #f0f;
}

.form-line {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: start;
    align-items: center;
}

#message {
    margin-top: -10px;
}